@page "/"


<h3>Добро пожаловать!</h3>

<p>Выберите действие:</p>
<ul>
    <li><NavLink href="register">Регистрация</NavLink></li>
    <li><NavLink href="login">Вход</NavLink></li>
    <li><NavLink href="documents">Просмотр документов</NavLink></li>
</ul>