@page "/login"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Вход</h3>

<EditForm Model="@loginRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="@loginRequest.Email" />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <InputText id="password" type="password" @bind-Value="@loginRequest.Password" />
    </div>

    <button type="submit">Войти</button>
</EditForm>

@code {
    private LoginUserRequest loginRequest = new LoginUserRequest();

    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("login", loginRequest);
        if (response.IsSuccessStatusCode)
        {
            // Обработка успешного входа, например, сохранение токена и переход на главную страницу
            Navigation.NavigateTo("/");
        }
        else
        {
            // Обработка ошибок
        }
    }

    public class LoginUserRequest
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}